##아래 내용 참조해서 .env를 root-directory에 생성바랍니다.

# -----------------------------------------------------------------------------
# Django core
# -----------------------------------------------------------------------------
DJANGO_SECRET_KEY=django-insecure-xmcr3&eytngjrmxe$4z8^^pc4nby+c6fkdf1xvu52gw$f$f&(g

DJANGO_DEBUG=1

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# -----------------------------------------------------------------------------
# PostgreSQL
# -----------------------------------------------------------------------------
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
